* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color:  #ff9a4b;
}

main {
  width: 510px;
  margin: 20px auto;
  
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
}



.box {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 5px solid #fff;
  display: flex;
  justify-content: flex-start;
  width: 100px;
  margin: 0px auto;
}



.step-box {
  height: 90px;
  margin-right: 20px;
  position: absolute;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 10px;
}


.step-box {
  width: 100px;
  margin: 20px auto;
 
  align-items: center;
  justify-content: center;
}


.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: center;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: center;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: center;
  background-size: cover;
}

.step-num {
  position: center
  left: 0;
  background-color: #ff9a4b;
  color: #ffffff;
}



.title {
  margin: 15px 0 5px;
}




footer {
  height: 50px;
  background-color: #aaa;
}


